/* variables */

:root {
  --color-black: black;
  --color-white: white;
  --color-gray-one: #eeeeee;
  --color-gray-darkest: rgb(36, 40, 47);
}

.dark-theme {
  --background-color: var(--color-gray-darkest);

  --header-bg-color: var(--color-white);
  --header-title-color: var(--color-gray-darkest);
  --search-input-bg: var(--color-gray-one);
}

.light-theme {
  --background-color: var(--color-white);

  --header-bg-color: var(--color-gray-darkest);
  --header-title-color: var(--color-white);
  --search-input-bg: var(--color-gray-one);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  padding-top: 80px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.search-holder {
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
